.skip-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

.media-card a {
  text-decoration: none;
  color: var(--bs-black);
}

.media-card a:hover {
  color: var(--bs-purple-2);
}

.media-card h3 {
  margin: 0.5rem 0;
}

.media-card > p {
  font-size: 0.8em;
  line-height: 1.5;
  color: var(--bs-grey-2);
}
