.site-title {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.site-title > span {
  margin-left: .3em;
  font-size: 1rem;
}

.logo {
  margin: .5em;
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.global-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bs-black);
  color: white;
  fill: white;
}

.global-header a:link,
.global-header a:visited,
#park-header a:link,
#park-header a:visited {
  text-decoration: none;
  color: white;
}

.global-header .icon {
  width: 20px;
  height: 20px;
}

.global-header__right {
  display: flex;
  align-items: center;
}

.global-header__right .search-icon {
  margin-top: 6px;
  padding: 0 1rem;
}

.global-header__right button {
  display: flex;
  align-items: center;
  padding: 1.2em;
  background: transparent;
  border: none;
  border-left: 1px solid var(--bs-grey-5);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.hero-banner {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-banner > img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.hero-banner__content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: .5em 1em;
  background-color: rgba(0, 0, 0, .7);
  color: white;
}

.hero-banner__title {
  font-size: 1.8em;
  font-weight: bold;
}

.hero-banner__subtitle {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

.park-nav > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: var(--bs-black);
  font-size: .8rem;
}

.park-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .8em 2em;
}

.park-nav a:hover {
  background-color: rgba(255, 255, 255, .3);
}

.park-nav svg {
  width: 24px;
  height: 24px;
}
