.intro {
  padding: 1em;
  background-image: url("../images/topo_pattern.png");

}

.intro > h1 {
  font-family: var(--bs-font-serif);
  font-size: 2.5em;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-image: url("../images/topo_pattern.png");
}

.info > * {
  flex: 1;
}

@media (min-width: 630px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
